#page-wrapper{
	padding-top: 80px;
}

.navBarHeader{
	font-size: 24px;
}

.navBarHeaderRight{
	padding: 15px;
}

.notificacoes{
	padding: 10px;
}

.item-menu-lateral{
	padding-left: 10px;
    font-size: 14px;
}


