#page-wrapper {
	padding-top: 80px;
}

@media ( max-width : 768px) {
	#page-wrapper {
		padding-top: 120px;
	}
}

.navBarHeader {
	font-size: 24px;
}

.navBarHeaderRight {
	padding: 15px;
}

.notificacoes {
	padding: 10px;
}

.item-menu-lateral {
	padding-left: 10px;
	font-size: 14px;
}

.table-modal>div.row {
	padding-bottom: 15px;
}

@media ( min-width : 768px) {
	.align-div-right {
		float: right;
		padding-right: 10px;
	}
}

.paddin-top-check{
	padding-top: 20px;
}

.corperfil{
	color: #ffffff;
}