<div id="wrapper" >
	<ng-include src="'menu.html'"></ng-include>
	<div id="page-wrapper" class="calendario">
		<div class="container-fluid" ng-controller="CalendarioController as calendario" id="controller">
			<div id="calendar"></div>
			
			<!-- Modal que abre quando clica em algum dia -->
			<div id="calendarModal" class="modal fade" >
				<div class="modal-dialog">
					<form name="calendario.formCalendario" ng-submit="calendario.salvar(calendario.formCalendario.$valid)">
					    <div class="modal-content">
					        <div class="modal-header">
					            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
					            <h4 id="modalTitle" class="modal-title">Agendamento</h4>
					        </div>
					        <div id="modalBody" class="modal-body">
					        	<div class="table-modal"> 
					        		<div class="row">
										<div class="col-md-6">
											<label for="cliente">Cliente</label> 
											<select class="form-control" ng-model="calendario.agendamento.codigoCliente" id="cliente" required>
												<option value="" disabled selected>Selecione</option>
												<option ng-repeat="cliente in calendario.clientes" value="{{cliente.codigo}}">{{cliente.nome}}</option>
											</select>
										</div>
										<div class="col-md-6">
											<label for="servico">Serviço</label> 
											<select class="form-control" ng-model="calendario.agendamento.codigoServico" id="servico" required>
												<option value="" disabled selected>Selecione</option>
												<option ng-repeat="serv in calendario.servicos" value="{{serv.codigo}}">{{serv.descricao}}</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-5">
											<label for="funcionario">Funcionário</label> 
											<select class="form-control" ng-model="calendario.agendamento.codigoFuncionario" id="funcionario" required>
												<option value="" disabled selected>Selecione</option>
												<option ng-repeat="fun in calendario.funcionarios" value="{{fun.codigo}}">{{fun.nome}}</option>
											</select>
										</div>
										<div class="col-md-4">
											<label for="diaAgendamento">Data de agendamento</label> 
											<input id="diaAgendamento" class="form-control" type="date" ng-model="calendario.agendamento.data" required/>
										</div>
										<div class="col-md-3">
											<label for="horario">Horário</label> 
											<input class="form-control col-md-6" id="horario" type="time" ng-model="calendario.agendamento.data" required/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label for="observacao">Observações</label> 
											<textarea class="form-control" id="observacao" placeholder="Observação" rows="3" 
												ng-model="calendario.agendamento.observacao"/>
										</div>
									</div>
								</div>
							</div>
					        <div class="modal-footer">
					        	<div class="left">
					        		<button type="button" title="Concluir este agendamento" ng-click="calendario.concluir()" class="btn btn-info" data-dismiss="modal"><i class="fa fa-check fa-2x"></i></button>
					        		<button type="button" title="Cancelar este agendamento" onclick="$('#confirmaCancelarModal').modal('show');" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close fa-2x"></i></button>
					        	</div>
					        	<div class="right">
						        	<button type="submit" title="Salvar alterações" class="btn btn-success"><i class="fa fa-floppy-o fa-2x"></i></button>
						        	<button type="button" title="Excluir este agendamento" onclick="$('#confirmaExcluirModal').modal('show');" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash-o fa-2x"></i></button>
						        </div>
					        </div>
					    </div>
				    </form>
				</div>
			</div>
			
			<!-- Modal confirmar que quer excluir -->
			<div id="confirmaExcluirModal" class="modal fade" >
				<div class="modal-dialog">
				    <div class="modal-content">
				        <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
				        </div>
				        <div id="modalBody" class="modal-body">
				        	<div class="table-modal"> 
			        			<div class="row">
									<div class="col-md-12">
										<p class="col-lg-12" style="font-size: 16px;">Confirma a exclusão do agendamento?</p>
									</div>
								</div>
							</div>
						</div>
				        <div class="modal-footer">
				        	<button type="button" ng-click="calendario.excluir()" class="btn btn-success" data-dismiss="modal">Sim</button>
							<button type="button" onclick="$('#calendarModal').show()" class="btn btn-danger" data-dismiss="modal">Não</button>
				        </div>
				    </div>
				</div>
			</div>
			
			<!-- Modal confirmar que quer cancelar o agendamento -->
			<div id="confirmaCancelarModal" class="modal fade" >
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
				        </div>
				        <div id="modalBody" class="modal-body">
				        	<div class="table-modal"> 
			        			<div class="row">
									<div class="col-md-12">
										<p class="col-lg-12" style="font-size: 16px;">Confirma o cancelamento deste agendamento?</p>
									</div>
								</div>
							</div>
						</div>
				        <div class="modal-footer">
				        	<button type="button" ng-click="calendario.cancelar()" class="btn btn-success" data-dismiss="modal">Sim</button>
							<button type="button" onclick="$('#calendarModal').show()" class="btn btn-danger" data-dismiss="modal">Não</button>
				        </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();

		if(dd<10) {
		    dd = '0'+dd;
		} 

		if(mm<10) {
		    mm = '0'+mm;
		} 

		today = mm + '/' + dd + '/' + yyyy;

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			ignoreTimezone: false,
		    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
		    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
		    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
		    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
		    buttonText: {
		        prev: "<",
		        next: ">",
		        today: "Hoje",
		        month: "Mês",
		        week: "Semana",
		        day: "Dia"
		    },
			defaultDate: new Date(),
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				var day = moment(start).get('date')+1;
				var month = moment(start).get('month')+1;
				var year = moment(start).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				angular.element('#controller').scope().calendario.carregarNovoAgendamento(day, month, year);
				$('#calendarModal').modal();
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			eventClick:  function(event, jsEvent, view) {
				angular.element('#controller').scope().calendario.carregarAgendamentoPeloCodigo(event.id);
	            $('#calendarModal').modal();
	        },
	        events: function( start, end, timezone, callback ) {
				var day = moment(start).get('date');
				var month = moment(start).get('month')+1;
				var year = moment(start).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				var dateStart = day + '-' + month + '-' + year;
				
				day = moment(end).get('date');
				month = moment(end).get('month')+1;
				year = moment(end).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				var dateEnd = day + '-' + month + '-' + year;
				
				var url = "http://localhost:9080/AmostraDeTalentos/rest/agendamento/listar/"+dateStart+"/"+dateEnd;
				$.ajax({ 
		            type: "GET",
		            dataType: "json",
		            url: url,
		            success: function(data){
		            	var events = [];
		            	for (i = 0; i < data.length; i++) { 
		            	    var value = data[i];
		            	    events.push({
		                    	id: value.id,
		                        title: value.title,
		                        start: new Date(value.start),
		                        end: new Date(value.end)
		                    });
		                }
		                callback(events);
		            }
		        });
			},
			eventDrop: function(event, delta, revertFunc) {
				var day = moment(event.start).get('date');
				var month = moment(event.start).get('month')+1;
				var year = moment(event.start).get('year');
				var hour = moment(event.start).get('hour');
				var minute = moment(event.start).get('minute');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				if(hour<10) {
					hour = '0'+hour;
				}
				if(minute<10) {
					minute = '0'+minute;
				}
				var dateStart = day + '/' + month + '/' + year;
				var hourStart = hour+':'+minute;
				
		        if (!confirm("Deseja mover "+ event.title + " para " + dateStart+" às "+hourStart +"?")) {
		            revertFunc();
		        }else{
		        	angular.element('#controller').scope().calendario.updateHorario(event, new Date(year+"-"+month+"-"+day+"T"+hourStart+":00"));
		        }

		    }
	        
		});
		
	});

</script>