<div id="wrapper" >
	<ng-include src="'menu.html'"></ng-include>
	<div id="page-wrapper" class="calendario">
		<div class="container-fluid" ng-controller="CalendarioController as calendario" id="controller">
			<div id="calendar"></div>
			
			<!-- Modal que abre quando clica em algum dia -->
			<div id="calendarModal" class="modal fade" >
				<div class="modal-dialog">
				    <div class="modal-content">
				        <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
				            <h4 id="modalTitle" class="modal-title">Agendamento</h4>
				        </div>
				        <div id="modalBody" class="modal-body">
				        	<div class="table-modal"> 
			        			<div class="row">
									<div class="col-md-6">
										<label for="cliente">Cliente</label> 
										<select class="form-control" ng-model="calendario.agendamento.codigoCliente" id="cliente">
											<option value="" disabled selected>Selecione</option>
											<option ng-repeat="cliente in calendario.clientes" value="{{cliente.codigo}}">{{cliente.nome}}</option>
										</select>
									</div>
									<div class="col-md-6">
										<label for="servico">Serviço</label> 
										<select class="form-control" ng-model="calendario.agendamento.codigoServico" id="servico">
											<option value="" disabled selected>Selecione</option>
											<option ng-repeat="serv in calendario.servicos" value="{{serv.codigo}}">{{serv.descricao}}</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<label for="funcionario">Funcionário</label> 
										<select class="form-control" ng-model="calendario.agendamento.codigoFuncionario" id="funcionario">
											<option value="" disabled selected>Selecione</option>
											<option ng-repeat="fun in calendario.funcionarios" value="{{fun.codigo}}">{{fun.nome}}</option>
										</select>
									</div>
									<div class="col-md-4">
										<label for="diaAgendamento">Data de agendamento</label> 
										<input id="diaAgendamento" class="form-control" type="date" ng-model="calendario.agendamento.data"/>
									</div>
									<div class="col-md-3">
										<label for="horario">Horário</label> 
										<input class="form-control col-md-6" id="horario" type="time" ng-model="calendario.agendamento.data"/>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="observacao">Observações</label> 
										<textarea class="form-control" id="observacao" placeholder="Observação" rows="3" 
											ng-model="calendario.agendamento.observacao"/>
									</div>
								</div>
							</div>
						</div>
				        <div class="modal-footer">
				            <button type="button" ng-click="calendario.limpar()" class="btn btn-default" data-dismiss="modal">Ok</button>
				        </div>
				    </div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();

		if(dd<10) {
		    dd = '0'+dd;
		} 

		if(mm<10) {
		    mm = '0'+mm;
		} 
		
		today = mm + '/' + dd + '/' + yyyy;

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: today,
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				var day = moment(start).get('date');
				var month = moment(start).get('month')+1;
				var year = moment(start).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				var dateEvent = day + '/' + month + '/' + year;
				angular.element('#controller').scope().calendario.carregarNovoAgendamento(dateEvent);
				$('#calendarModal').modal();
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			eventClick:  function(event, jsEvent, view) {
				angular.element('#controller').scope().calendario.carregarAgendamentoPeloCodigo(event.id);
	            $('#calendarModal').modal();
	        },
			events: function( start, end, timezone, callback ) {
				var day = moment(start).get('date');
				var month = moment(start).get('month')+1;
				var year = moment(start).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				var dateStart = day + '-' + month + '-' + year;
				
				day = moment(end).get('date');
				month = moment(end).get('month')+1;
				year = moment(end).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				var dateEnd = day + '-' + month + '-' + year;
				
				var url = "http://localhost:9080/AmostraDeTalentos/rest/agendamento/listar/"+dateStart+"/"+dateEnd;
				$.ajax({ 
		            type: "GET",
		            dataType: "json",
		            url: url,
		            async: false,
		            done: function(data){        
		            	var events = [];
		            	for (i = 0; i < data.length; i++) { 
		            	    var value = data[i];
		                    events.push({
		                    	id: value.id,
		                        title: value.title,
		                        start: value.start,
		                        end: value.end
		                    });
		                }
		                callback(events);
		            }
		        });
			}
	        
		});
		
	});

</script>