<div id="wrapper" >
	<ng-include src="'menu.html'"></ng-include>
	<div id="page-wrapper" class="calendario">
		<div class="container-fluid" ng-controller="CalendarioController as calendario" id="controller">
			<div id="calendar"></div>
			
			<!-- Modal que abre quando clica em algum dia -->
			<div id="calendarModal" class="modal fade" >
				<div class="modal-dialog">
				    <div class="modal-content">
				        <div class="modal-header">
				            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
				            <h4 id="modalTitle" class="modal-title">Agendamento</h4>
				        </div>
				        <div id="modalBody" class="modal-body">
				        	<div class="row">
					        	<label for="cliente" >Cliente:</label>
					        	<input id="cliente" type="text" ng-model="calendario.agendamento.codigoCliente"/>
							</div>
							<div class="row">
					        	<label for="funcionario" >Funcionário:</label>
					        	<input id="funcionario" type="text" ng-model="calendario.agendamento.codigoFuncionario"/>
							</div>
				        </div>
				        <div class="modal-footer">
				            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();

		if(dd<10) {
		    dd = '0'+dd;
		} 

		if(mm<10) {
		    mm = '0'+mm;
		} 

		today = mm + '/' + dd + '/' + yyyy;

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: today,
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
				var day = moment(start).get('date');
				var month = moment(start).get('month')+1;
				var year = moment(start).get('year');
				if(day<10) {
					day = '0'+day;
				}
				if(month<10) {
					month = '0'+month;
				}
				angular.element('#controller').scope().calendario.carregarNovoAgendamento(day+"/"+month+"/"+year);
				$('#calendarModal').modal();
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			eventClick:  function(event, jsEvent, view) {
				angular.element('#controller').scope().calendario.carregarAgendamentoPeloCodigo(event.id);
	            $('#calendarModal').modal();
	        },
			events: function( start, end, timezone, callback ) {
				$.ajax({ 
		            type: "GET",
		            dataType: "json",
		            url: "http://localhost:9080/AmostraDeTalentos/rest/agendamento/listar",
		            success: function(data){        
		            	var events = [];
		            	for (i = 0; i < data.length; i++) { 
		            	    var value = data[i];
		                    events.push({
		                    	id: value.id,
		                        title: value.title,
		                        start: value.start,
		                        end: value.end
		                    });
		                }
		                callback(events);
		            }
		        });
			}
	        
		});
		
	});

</script>