<div id="wrapper">
	<ng-include src="'menu.html'"></ng-include>
	<div id="page-wrapper">
		<div class="container-fluid" ng-controller="PerfilController as perfil">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#/home">Meu Painel</a></li>
				<li class="breadcrumb-item active">Perfil</li>
			</ol>
			<!-- Example DataTables Card-->
			<div class="row">
				<div class="col-md-4">
					<label for="nomeDeUsuario">Nome de usuário</label> <input
						class="form-control" id="nomeDeUsuario"
						ng-model="perfil.perfil.nome" disabled />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<label for="nomeLogin">Nome Login</label> <input
						class="form-control" id="nomeLogin" ng-model="perfil.perfil.login"
						disabled />
				</div>
			</div>
			<div class="row paddin-top-check">
				<div class="col-md-3">
					<div id="adm" ng-if="perfil.perfil.administrador"><i class="fa fa-2x fa-check"></i></div>
					<div id="adm" ng-if="!perfil.perfil.administrador"><i class="fa fa-2x fa-close"></i></div>
					<label>Administrador</label>
				</div>
			</div>
		</div>
	</div>
</div>
